header{
    background-color: #19283F;
    color: white;
    height: 500px;
}

button {
  background-color: #FF3150;
  color: #FFC501;
  border-radius: 12px;
  border:none;
}

.header button{
  width: 110px;
  height: 40px;
}
.header2 button{
  width: 190px;
  height: 45px;
}
a{
  text-decoration: none;
  color: #A8B9C0;
  margin-right: 2%;
  
}
h4{
  color:#707070;
}

.header{
   text-align: right;
   padding-top: 1%;
}

.header2{
  text-align: center;
  
}
.header2 h1{
  font-family: 'Roboto', sans-serif;
  font-size: 52 light;
}


/* We are good At Section */
.good{
  text-align: center;
}


/* We make this section */
.make, .team{
  background-color: #EFF7FA;
  text-align: center;
}
.nav2 {
  text-align: center;
}
table{
  margin: auto;
}
.square{
  margin-right: 15px;
  margin-bottom: 15px;
  height:200px;
  width: 270px;
  background-color: #00C6BF;
}
.square1{
  margin-right: 15px;
  margin-bottom: 15px;
  height:200px;
  width: 270px;
  background-color: #ffffff;
}

/* Stuff Section */
.stuff , .Blog{
  text-align: center;
}

/* meet the team section */
.square2{
  height: 389px;
  width : 270px;
  margin-right: 15px;
  margin-bottom: 15px;
  background-color: #ffffff;
}
.square3{
  background-color: #00C6BF;
  height: 50px;
  width:270px;
  position: absolute;
  margin-top:220px;
}
/* project section*/
.project{
  background-color: #19283F;
  text-align: center;
  color:white;
  height: 389px;
}

/*Subscribe section*/
.sub{
  background-color: #FFC400;
  text-align: center;
  height: 90px;
}
.sub button{
  background-color: #19283F;
  color: #FFC501;
  border-radius: 12px;
  border:none;
  
}
input {
  color: #ffffff;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  width: 23%;
  border-color: white;
  background-color: #FFC400;
}
::placeholder {
  color: white;
}
:-ms-input-placeholder {
  color: white;
}
::-ms-input-placeholder {
  color: white;
}

footer{
  background-color:#19283F ;
  color: white;
}
ul{
  list-style-type: none;

}
