*{
    background-color: rgb(255, 219, 175);
}
h1,h2{
    text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  .center2{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    background-color: rgb(75, 75, 75);
  }

  table, th, td {
    border: 1px solid black;
  }